.App {
  // background-color: #F9F8F8;
  background-color: #E9E7FC;
  // background-color: #28A9CC;
  font-family: 'Raleway', sans-serif;
  position: 'relative',
}
.loading {
  background-color: #FDE8E9;
  background-color: #E9E7FC;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.credentials {
  // position: relative;
  // width: 100vw;
  position: absolute;
  right: 5rem;
  // h4 {

  // }
}

//   @import "./pages/main/main.scss";

/* @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
