#scroll-down {
  height: 300px;
  position: absolute;
  bottom: -2rem;
  opacity: 0.5;
}
.name {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 50%;
  max-width: 50%;
  position: relative;
  top: -10rem;
}

h1 {
  font-family: 'Comfortaa', cursive;
  font-size: 4em;
  margin: 0 0 2rem 0;
  background: linear-gradient(90deg, rgba(41,171,226,1) 0%, rgba(255,137,187,1) 25%, rgba(252,176,69,1) 50%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  font-weight: 400;
  font-size: 2.5em;
  margin: 0;
  margin-left: 10px;
}

p {
  margin: 0;
  font-size: 1.5em;
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  .name {
    min-width: 50%;
    max-width: 50%;
  }
  #scroll-down {
    height: 300px;
    bottom: -2rem;
  }
  @media only screen and (max-width: 600px) {
    .name {
      min-width: 80%;
      max-width: 80%;
      top: -8rem;
    }
    #scroll-down {
      height: 250px;
    }

    h1 {
      justify-self: center;
      align-self: start;
      font-size: x-large;
    }
  }
}
